@import "tailwindcss";

:root {
  --color-background: #0a0a0a;
  --color-forground: #F5F5F5;
  --color-lightText: #888888;
  --color-border: #374151;

  --color-slit1: #8AB4F8;
  --color-slit2: #81C995;
  --color-slit3: #F28B82;
  --color-slit4: #FDD663;
  --color-slit5: #81C995;
  --color-slit6: #C58AF9;

  --radius: 0.75rem;
}

@layer base{
  html {
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--color-background);
    color: var(--color-forground);
    font-family: "Raleway", sans-serif;
  }
}